@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Записная книжка</h1>
</div>
<div class="row">
    <div class="col-md-">
        <h2>Добро пожаловать в записную книжку</h2>
    </div>
</div>